#book{
    height: 1000px;
    text-align: center;  
}
#book h1{
    font-size: 2.8rem;
}
.cont4{
    display: flex;
    justify-content: center;
}
.cont4 form{
    border: 1px solid black;
    height: 600px;
    padding: 50px;
    width: 40%;
    font-family: 'Poppins', sans-serif ;
    font-size: 1.5rem;
    text-align: left;
}

#fname{
    padding: 10px;
    position: relative;
    left: 80px;
    width: 40%;
}
#lname{
    padding: 10px;
    position: relative;
    left: 80px;
    width: 40%;
}
#email{
    padding: 10px;
    position: relative;
    left: 140px;
    width: 40%;
}
#number{
    padding: 10px;
    position: relative;
    left: 28px;
    width: 40%;
}
#type{
    padding: 10px;
    position: relative;
    left: 28px;
    width: 45%;
    font-size: 1.5rem;
    font-family:'Montserrat', sans-serif ;
}
#submit2{
    background-color: #c1a267;
    font-family:'Poppins', sans-serif;
    font-size: 2rem;
    border: #c1a267 1px solid;
    padding: 10px;
    width: 50%;
    color: white;
    position: relative;
    top: 80px;
    left: 180px;
}

#submit2:hover{
    background-color: #fbd58a;
}

